<a id="button"></a>

<footer class="footer-img relative">
    <div class="mx-auto max-w-7xl lg:px-0 md:px-8 px-5 relative">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 md:gap-11 gap-6 md:pb-11">
            <div class="col-span-1 pr-10">
                <a href="{{ url_for('home') }}" class="navbar-logo"><img src="{{ url_for('static', filename='img/logo.png') }}" class="w-80 mb-4  rounded-lg" alt="">
                </a>

            </div>
         
            <div class="col-span-1">

                <div class="f-title">
                    <h5>Social Links</h5>
                </div>
                <ul class="f-social">
                    <li><a href="https://www.facebook.com/tashika.singh.1428" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/heyitshika_" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/tashika-singh-b84207178/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.github.com/tashika556" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></i></a></li>

                </ul>

            </div>


            <div class="col-span-1">
                <div class="f-title">
                    <h5>Contact Info</h5>
                </div>
                <ul class="f-links">
                    <li class="flex items-center"><i class="fa fa-map-marker" aria-hidden="true"></i>United States
                    </li>
                    <li><i class="fa fa-mobile" aria-hidden="true"></i> +1 (332 260 2590)</li>

                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>tassingh56@gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="grid grid-cols-1 py-3 footer_bg rounded-tr-lg rounded-tl-lg">
            <div class="col-span-1 text-center">
                <p class="font-normal">2024 Tashika | All rights reserved. || Website by <a href="{{ url_for('home') }}" target="_blank"><strong class="text-white font-normal">Tashika Singh</strong>
                    </a> </p>
            </div>
        </div>

    </div>

</footer>
<!-- mobile menu start  -->
<div class="side-bar">
    <header>
        <div class="close-btn">
            <i class="fa fa-times"></i>
        </div>
    </header>
    <div class="menu_mobile pt-3">
        <div class="item"><a href="{{ url_for('home') }}"> Home </a></div>
        <div class="item"><a href="{{ url_for('home') }}#skills"> Skills </a></div>
        <div class="item"><a href="{{ url_for('home') }}#education"> Education </a></div>
        <div class="item"><a href="{{ url_for('home') }}#experience"> Work Experience</a></div>
        <div class="item"><a href="{{ url_for('home') }}#portfolio"> Portfolios </a></div>
        <div class="item"><a href="{{ url_for('home') }}#certificate">Certificates</a></div>
        <div class="item"><a href="{{ url_for('static', filename='resume/TashikaSinghresume.pdf') }}" download class=" bg-blue-300 p-4 rounded-lg">Download CV</a></div>
        <div class="item"><a href="{{ url_for('static', filename='resume/TashikaSinghresume.pdf') }}" target="_blank" class=" bg-blue-700 p-4 mt-4 rounded-lg">View CV</a></div>
    </div>
</div>
<!-- mobile menu end  -->


<!-- modal start  -->

<script src="{{ url_for('static', filename='js/jquery-3.2.1.minn.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/slick.js') }}"></script>
<script src="{{ url_for('static', filename='js/slick-animation.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/cdn.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script src="{{ url_for('static', filename='js/font-awesome.js') }} "></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }} "></script>
<script src="{{ url_for('static', filename='js/typed.min.js') }}" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous"></script>


<!-- modal start  -->


</body>

</html>