<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Tashika Singh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="{{ url_for('static', filename='img/fav.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" />
    <link href="{{ url_for('static', filename='css/tailwind.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
</head>
<body class="loading">

<div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">x</div>
            <div id="handle-preloader" class="handle-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="t" class="letters-loading">
                            t
                        </span>
                        <span data-text-preloader="a" class="letters-loading">
                            a
                        </span>
                        <span data-text-preloader="s" class="letters-loading">
                            s
                        </span>
                        <span data-text-preloader="h" class="letters-loading">
                            h
                        </span>
                        <span data-text-preloader="i" class="letters-loading">
                            i
                        </span>
                        <span data-text-preloader="k" class="letters-loading">
                            k
                        </span>
                        <span data-text-preloader="a" class="letters-loading">
                            a
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-btn block lg:hidden">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="header_box relative z-20 bg-blue">
        <div class="header">
            <nav class="navbar flex">
                <div class="logo_top">
                    <a href="{{ url_for('home') }}" class="navbar-logo"><img src="{{ url_for('static', filename='img/logo.png') }}" class="w-80" alt="">
                    </a>
                </div>
                <ul class="navbar-links  w-full  items-center flex justify-center">
                    <div class="flex ml-11">
                        <li class="navbar-dropdown relative pr-10">
                            <a class="text-white uppercase font-bold text-sm" href="{{ url_for('home') }}"> Home </a>
                        </li>
                        <li class="navbar-dropdown relative pr-10">
                            <a class="text-white uppercase font-bold text-sm" href="{{ url_for('home') }}#skills"> Skills</a>
                        </li>
                        <li class="navbar-dropdown relative pr-10">
                            <a class="text-white uppercase font-bold text-sm" href="{{ url_for('home') }}#education">Education</a>
                        </li>
                        <li class="navbar-dropdown relative pr-6">
                            <a class="text-white uppercase font-bold text-sm" href="{{ url_for('home') }}#experience">Work Experience</a>
                        </li>
                        <li class="navbar-dropdown relative pr-8">
                            <a class="text-white uppercase font-bold text-sm" href="{{ url_for('home') }}#portfolio">Portfolios</a>
                        </li>
                        <li class="navbar-dropdown relative pr-8">
                            <a class="text-white uppercase font-bold text-sm" href="{{ url_for('home') }}#certificate">Certificates</a>
                        </li>
                 <li class="navbar-dropdown relative pr-10">
    <a class="text-white uppercase font-bold text-sm bg-blue-300 p-4 rounded-lg"
       href="{{ url_for('static', filename='resume/TashikaSinghresume.pdf') }}" 
       download>
       Download CV
    </a>
</li>
<li class="navbar-dropdown relative pr-1">
    <a class="text-white uppercase font-bold text-sm bg-blue-600 p-4 rounded-lg"
       href="{{ url_for('static', filename='resume/TashikaSinghresume.pdf') }}" 
       target="_blank">
       View CV
    </a>
</li>

                    </div>
                </ul>
                <!-- Modal toggle -->

            </nav>
        </div>
    </div>

