{% include 'header.html' %}

<section class="relative section_main bg-blue">
    <div class="mx-auto max-w-7xl lg:px-0 md:px-8 px-5 pt-4 mt-4">
        <div class="grid lg:grid-cols-2 lg:gap-3 lg:gap-y-4">
            <div class="col-span-1">
                <div class="slider_wrap">

                    <h5 class="text-gray-300">Hy, My <b>Name</b> is</h5>
                    <h1 class="uppercase text-white" id="typewriterContent">
                        Tashika <br> Singh</span> </h1>

                </div>
            </div>

            <div class="col-span-1">
                <div class="image-slider relative">
                    <img src="{{ url_for('static', filename='img/laptop.png') }}" alt="" class="slider-image">
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<section class="relative">
<div class="mx-auto max-w-7xl lg:px-0 md:px-8 px-5 pt-4 mt-4">
    <div class="grid lg:grid-cols-2">
        <div class="col-span-1">
            <div class="section-title relative">
                <h2 class="font-playfair">About Me</h2>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="relative">
    <div class="grid lg:grid-cols-1">
        <div class="col-span-1">
            <div class="section-title mx-auto text-center">
                <h2>Skills</h2>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
